In [40]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import math

In [41]:
df = pd.read_csv("./test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [42]:
x = df.math.values
len(x)

10

In [43]:
y = df.cs.values
y

array([98, 68, 81, 80, 83, 52, 66, 30, 68, 73], dtype=int64)

In [38]:
m_curr = b_curr = 0
iterations = 48
n = len(x)
learning_rate = 0.1

In [48]:
def predict_using_sklean():
    df = pd.read_csv("test_scores.csv")
    r = LinearRegression()
    r.fit(df[['math']],df.cs)
    return r.coef_, r.intercept_
def gradient_descent(x, y):
    m_curr = b_curr = 0
    iterations = 48
    n = len(x)
    learning_rate = 0.1
    for i in range(iterations):
        y_predicted = m_curr * x + b_curr
        cost = (1/n) * sum([val**2 for val in (y-y_predicted)])
        md = -(2/n) * sum(x*(y-y_predicted))
        bd = -(2/n) * sum(y*(y-y_predicted))
        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * bd
    return m_curr, b_curr

In [49]:
m, b = gradient_descent(x,y)
print("Using gradient descent function: Coef {} Intercept {}".format(m, b))

m_sklearn, b_sklearn = predict_using_sklean()
print("Using sklearn: Coef {} Intercept {}".format(m_sklearn,b_sklearn))

Using gradient descent function: Coef -1.4337406810115974e+143 Intercept -1.4979510633369847e+143
Using sklearn: Coef [1.01773624] Intercept 1.9152193111569176